// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}

body {
  background-image: url("../img/leaf.png");
}

#container {
  margin: 15px;
}

%img {
  width: 100%;
}

#featureCard {
 background-color: $white;
 @include span-columns(12 of 12);
 margin-top: -20px;
 padding: $cardpad;
 color: $slate;

 @media screen and #{$breakMedium} {
   @include span-columns(12 of 12);
 }

  p {
      &:first-child{
        font-size: 1.7em;
        margin: 0;
        line-height: 37px;
      }

      &:nth-child(2) {
        font-size: 0.8em;
      }

      &:nth-last-child(6) {
        font-size: 0.7em;
        color: $dkgreen;
        margin-bottom: -10px;
      }
    }

    a {
      font-size: 0.5em;;
      color: $dkgreen;
      margin-bottom: -10px;
    }

 img {
   @extend %img;

   &:hover {
     opacity: 0.7;
   }
    @media screen and #{$breakLarge} {
      @include span-columns(9 of 12);
    }
 }
}

#comments {
background-color: $white;
@include span-columns(12 of 12);
margin-top: 20px;
padding: $cardpad;

  h5 {
    color: $dkgreen;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #subCard {
    border: 1pt solid $dkgreen;
    clear: both;

    img {
      @include subCardImgStyle;
      margin-bottom: 10px;
    }
  
    p {
      @include subCardpStyle;

      }
  }

  @media screen and #{$breakMedium} {
    @include span-columns(7.5 of 12);
    float: left;
  }
}

#adSpace {
  background-color: $white;
  padding: $cardpad;
  @include span-columns(12 of 12);
  margin-top: 20px;
  max-width: 1000px;

    @media screen and #{$breakMedium} {
      width: 343px;
    }

  img {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    display:table-cell;
  }

  p {
    color: $ltgreen;
    margin: 0;
    font-size: 0.7em;
  }

  #leadAd {
    @extend %img;
  }

  #subAds {
    background-color: $white;

    img {
      width: 130px;
      float: left;
      margin: 10px;
      display:table-cell;
    }
  }

}
